// Color Variables
$primary-color: #9AC4F8;
$secondary-color: #74c0fc;
$text-color: #adb5bd;
$text-color-dark: #9CA3AF;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #1f242A;
$white: #323945;
$light: #91A7FF;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';