// Color Variables
$primary-color: #9AC4F8;
$secondary-color: #74c0fc;
$text-color: #e4e7eb;
$text-color-dark: #c3c9d3;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #1f242A;
$white: #fff;
$light: #91A7FF;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';