<table>
    <tr>
        <td><a href="{{site.baseurl}}/csa/sprint2/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-1">Unit 1</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-2">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-3">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-4">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-6">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-7">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-8">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/csa/sprint2/unit-9">Unit 9</a></td>
    </tr>
</table>